@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta a barra de rolagem em navegadores baseados no WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Oculta a barra de rolagem no Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-yellow {
  background-color: rgb(250, 222, 42); /* Amarelo suave */
}

.custom-yellow-hover {
  background-color: rgba(250, 222, 42, 0.8); /* Hover com opacidade reduzida */
}

